.site-header {
    background-color: #00ff37;
    color: #000;
    height: 500vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-header-content {
    margin: 10px;
}

.profile-pic {
    border-radius: 100%;
    height: 200px;
    width: 200px;
    align-self: center;
    box-shadow: #015513 2px 5px 5px;
}

.course-link{
    color: #000;
}

body {
    margin: 0;
}